[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-mptt = "*"
djangorestframework = "*"
pyreadline = "*"
django-cors-headers = "*"
djangorestframework-filters = "*"
django-url-filter = "*"

[dev-packages]

[requires]
python_version = "3.6"
