<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title></title>

<link rel='stylesheet' href='/assets/vendor/bootstrap-src/dist/css/bootstrap.css'>
<link rel='stylesheet' href='/assets/vendor/icheck/skins/all.css'>
<link rel='stylesheet' href='/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.css'>
<link rel='stylesheet' href='/assets/index.css'>
</head>

<body>
{% block content %}{% endblock %}

<script src='/assets/vendor/lodash-fp/lodash-fp.min.js'></script>
<script src='/assets/vendor/jquery/jquery.2.1.4.min.js'></script>
<script src='/assets/vendor/bootstrap-src/dist/js/bootstrap.js'></script>
<script src='/assets/vendor/icheck/icheck.js'></script>
<script src='/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js'></script>
<script src='/assets/index.js'></script>
</body>
</html>
